*{
    background-color: #1a2634;
    background-color: #f9f8f6;
    background-color: #b66d52;
    background-color: #c9a66b;
    background-color: #4a5d5d;
    background-color: #b8c5c5;
    background-color: #e6dfd3;
    background-color: #6f8f8f;
    background-color: #2f3e3e;
    background-color: #2f3e3e;
    background-color:#556b2f ;
    background-color: #8a9a5b;
    background-color: #bcd4bc;
    color: #93a8a3;
    color: #b5833f;
    color: #a68a8a;
    color: #4b0026;


}